<form [formGroup]='registerForm' (submit)="register()" autocomplete="off">
  <h2 class="text-center text-primary">Sign up</h2>
  <hr>
  <div class="form-group">
    <label class="control-label mr-3">I am a:</label>
    <label class="radio-inline">
      <input type="radio" class="mr-1" formControlName="gender" value="male">Male
    </label>
    <label class="radio-inline ml-3">
      <input type="radio" class='mr-1' formControlName="gender" value="female">Female
    </label>
  </div>
  <app-text-input [formControl]="$any(registerForm).controls['username']" [type]='"text"' [label]="'Username'"></app-text-input>
  <app-text-input [formControl]="$any(registerForm).controls['knownAs']" [type]='"text"' [label]="'Known As'"></app-text-input>
  <app-date-input [formControl]="$any(registerForm).controls['dateOfBirth']" [maxDate]="maxDate" type='text' [label]="'Date of Birth'"></app-date-input>
  <app-text-input [formControl]="$any(registerForm).controls['city']" [type]='"text"' [label]="'City'"></app-text-input>
  <app-text-input [formControl]="$any(registerForm).controls['country']" [type]='"text"' [label]="'Country'"></app-text-input>
  <app-text-input [formControl]="$any(registerForm).controls['password']" [type]='"password"' [label]="'Password'"></app-text-input>
  <app-text-input [formControl]="$any(registerForm).controls['confirmPassword']" [type]='"password"' [label]="'Confirm password'"></app-text-input>

  <!-- server side validation -->
  <div class="row" *ngIf="validationErrors.length > 0">
    <ul class="text-danger">
      <li *ngFor="let error of validationErrors">{{error}}</li>
    </ul>
  </div>

  <div class="form-group text-center">
    <button [disabled]="registerForm.invalid" class="btn btn-success mr-2" type="submit">Register</button>
    <button class="btn btn-outline-danger mr-2" (click)='cancel()' type='button'>Cancel</button>
  </div>
</form>

<p>Form Value: {{registerForm.value | json}}</p>
<p>Form Status: {{registerForm.status | json}}</p>
